section {
    padding: 50px;
}

h2 {
    text-transform: uppercase;
    color: #f5f5f5;
    font-size: 25px;
    text-align: center;
}

h2::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #f5f5f5;
    display: block;
    margin-top: 10px;
}

.transitions {
    display: flex;
    justify-content: space-between;
}

p {
    color: #f5f5f5;
    font-size: 20px;
    display: inline-block;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
}

div {
    display: inline-flex;
    background: rgb(81,0,0);
    background: linear-gradient(90deg, rgba(81,0,0,1) 1%, rgba(114,1,1,1) 30%, rgba(167,0,1,1) 80%, rgba(196,0,1,1) 100%);
    width: 120px;
    height: 70px;
    margin: 50px auto;
    align-items: center;
    box-shadow: 1px 1px 3px #000;
}

/* width */

.width {
    transition: width 2s;
}

.width p{
    transition: letter-spacing 2s;
}

.width:hover {
    width: 170px;
}

.width:hover p {
    letter-spacing: 5px;
}

/* width-height */

.width-height {
    transition: width 2s, height 2s;
}

.width-height p {
    transition: font-size 2s;
}

.width-height:hover {
    width: 180px;
    height: 100px;
}

.width-height:hover p {
    font-size: 30px;
}

/* TRANSFORM */

.transform {
    transition: width 2s, height 2s, transform 2s;
}

.transform p {
    transition: transform 1s, font-size 2s;
}

.transform:hover {
    width: 180px;
    height: 100px;
    transform: rotate(360deg);
}

.transform:hover p {
    transform: rotate(720deg);
    font-size: 30px;
}

/* OPACITY */

.opacity {
    transition: opacity 2s, box-shadow 2s;
}

.opacity:hover {
    opacity: 0.3;
    box-shadow: none;
}

/* COLOR GRADIENT */

.color-gradient p {
    transition: color 2s, font-weight 1s;
}

.color-gradient:hover {
    background: linear-gradient(90deg, rgba(128,128,128,1) 1%, rgba(179,189,181,1) 35%, rgba(226,229,222,1) 80%, rgba(245,245,245,1) 100%);
}

.color-gradient:hover p {
    color: rgba(167,0,1,1);
    font-weight: 900;
}

/* JUST COLOR */

.color {
    background: none;
    background-color: rgba(167,0,1,1);
    transition: background-color 2s;
}

.color p {
    transition: color 2s, font-weight 2s;
}

.color:hover {
    background-color: rgba(226,229,222,0.9);
}

.color:hover p {
    color: rgba(167,0,1,1);
    font-weight: 900;
}

/* BORDER */

.border {
    transition: border-radius 1s;
}

.border p {
    transition: text-shadow 0.6s;
}

.border:hover {
    border-radius: 10px;
}

.border:hover p {
    text-shadow: 3px 2px 4px #000;
}

/* BORDER-COLOR */

.border-color {
    background: none;
    background-color: rgba(167,0,1,1);
    transition: all 2s;
}

.border-color p {
    transition: all 2s;
}

.border-color:hover {
    background-color: rgba(226,229,222,0.9);
    border-radius: 10px;
}

.border-color:hover p {
    font-weight: 900;
    color: rgba(167,0,1,1);
}