html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* DEFAULT ELEMENTS */

html {
	font-size: 16px;
	-webkit-tap-highlight-color: transparent;

}

body {
	background-color: #151515;
    font-family: 'Share Tech Mono', monospace;
	text-transform: capitalize;
	color: #f5f5f5;
	font-size: 1.2rem;
}

a {
	color: #f5f5f5;
	text-decoration: none;
}

@media (max-width: 500px) {
	html {
		font-size: 10px;
	}
}

/* SELECTION */

p::selection {
	background-color: rgba(0,0,0,0.5);
}

h1::selection {
	background-color: rgba(0,0,0,0.5);
}

h2::selection {
	background-color: rgba(0,0,0,0.5);
}

a::selection {
	background-color: rgba(0,0,0,0.5);
}

li::selection {
	background-color: rgba(0,0,0,0.5);
}

div::selection {
	background-color: rgba(0,0,0,0.5);
}

em::selection {
	background-color: rgba(0,0,0,0.5);
}