.main-subtitle {
    text-transform: uppercase;
    color: #f5f5f5;
    font-size: 25px;
    text-align: center;
}

.main-subtitle.afWhite::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #f5f5f5;
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
}