.fieldChild {
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.formLeg {
    text-transform: uppercase;
    padding: 0 5px;
    letter-spacing: 1px;
    background-color: #151515;
    border-radius: 5px;
}

.form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-bottom: 15px;
}

.form-control:last-of-type {
    margin-bottom: 0;
}

label {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-family: inherit;
}

input, textarea {
    box-sizing: border-box;
    width: 70%;
    height: 25px;
    font-family: inherit;
    font-size: 1rem;
    text-transform: none;
    color: #000;

    background-color: #F5F5F5;
    padding: 2px 5px;
    border-radius: 3px;
}

input:hover, textarea:hover {
    box-shadow: inset 0 0 3px #000;
}

input:focus, textarea:focus {
    box-shadow: inset 0 0 3px #000;
    outline: 1px solid #0000008F;
}

textarea {
    height: 100px;
    vertical-align: baseline;
    resize: none;
}

input[type=checkbox],
input[type=radio]
{
	width:13px;
	height:13px;
}

select {
    width: 40%;
    height: 25px;
    padding: 2px 10px;
    text-transform: capitalize;
    font-family: inherit;
    color: #000;
    font-size: 1rem;
    background-color: #F5F5F5;
    border-radius: 3px;
    line-height: inherit;
    cursor: pointer;
}

/* BUTTON */

.form-wrapBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 100%;
}

button {
    width: 20%;
    height: 25px;
    background-color: #F5F5F5;
    outline: none;
    cursor: pointer;

    border-radius: 3px;
    box-shadow: 3px 3px 5px #000;

    text-transform: uppercase;
    font-size: 1rem;
    font-family: inherit;
    letter-spacing: 1px;

    transition: all 0.2s;
}

button:hover {
    box-shadow: 0px 0px 2px #000;
}

/* MEDIA */

@media (max-width: 850px) {
    .form-control {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .form-control {
        width: 100%;
        flex-direction: column;
        gap: 5px;
    }
}