/* ----------- MAIN-HEADER -------------- */

.main-header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(81,0,0);
    background: linear-gradient(90deg, rgba(81,0,0,1) 1%, rgba(114,1,1,1) 30%, rgba(167,0,1,1) 80%, rgba(196,0,1,1) 100%);
    box-shadow: 0px 2px 4px #000;

    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    padding: 3% 5%;

    z-index: 10;
}

.logo {
    color: #FFF;
    font-size: 1.875rem;
    text-transform: uppercase;
}

.logo .-lgTtl{
    display: inline-block;
    transition: text-shadow 0.5s;
}

.logo:hover .-lgTtl{
    text-shadow: 3px 3px 3px #000;
}


/* ----------- MAIN-NAV -------------- */

.main-nav {
    display: inline-flex;
    align-items: center;
}

.main-nav .navList li {
    display: inline-block;
    margin-right: 1.875rem;
    list-style: none;
}

.navList li:last-of-type {
    margin-right: 0;
}

/* ----------- MAIN-SECTION -------------- */

.main-section {
    padding: 20vh 8% 0;
    height: 80vh;
}

.main-section.htFree {
    height: auto;
}


/* ----------- MAIN-TITLE -------------- */

.main-title {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
}

.main-title.ttlWhite::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #f5f5f5;
    display: block;
    margin-top: 10px;
    margin-bottom: 4%;
}


/* ----------- MAIN-SUBTITLE -------------- */

.main-subtitle {
    text-transform: uppercase;
    color: #f5f5f5;
    font-size: 1.5rem;
    text-align: center;
}

.main-subtitle.sbPdTp {
    padding-top: 20px;
}

.main-subtitle.lttSp {
    letter-spacing: 0.2rem;
}

.main-subtitle.sbPdBt {
    padding-bottom: 20px;
}

.main-subtitle.afWhite::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #f5f5f5;
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
}

/* ----------- MAIN-LINK -------------- */

.main-link {
    color: #FFF;
    font-size: 1.25rem;
}

.main-link::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background-color: #FFF;
    margin: 1px auto 0;
    transition: all 0.5s;
}

.main-link:hover::after {
    width: 100%;
}

/* scLink */

.main-link.scLink {
    color: #FF6961;
    text-shadow: 2px 2px 3px #000;
    text-decoration: underline;
    font-size: 1.2rem;
    font-style: italic;
    transition: all 0.3s;
}

.main-link.scLink:hover {
    letter-spacing: 0.3rem;
}

.main-link.scLink:hover::after {
    width: 0%;
}

/* ----------- MEDIA QUERY -------------- */

@media (max-width: 500px) {
    .main-header {
        height: 10vh;
    }

    .main-section {
        padding: 15vh 8% 0;
    }
}