header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: rgb(81,0,0);
    background: linear-gradient(90deg, rgba(81,0,0,1) 1%, rgba(114,1,1,1) 30%, rgba(167,0,1,1) 80%, rgba(196,0,1,1) 100%);
    box-shadow: 0px 2px 4px #000;
}

body {
    background-color: #151515;
    font-family: 'Share Tech Mono', monospace;
}

.logo {
    color: #FFF;
    font-size: 30px;
    text-transform: uppercase;
}

.logo h1{
    display: inline-block;
    transition: text-shadow 0.5s;
}

.logo:hover h1{
    text-shadow: 3px 3px 3px #000;
}

ul li {
    display: inline-block;
    margin-right: 30px;
    list-style: none;
}

ul li:last-of-type {
    margin-right: 0;
}

ul li a {
    color: #FFF;
    font-size: 20px;
    text-transform: capitalize;
}

ul li:after {
   content: "";
   width: 0%;
   height: 1px;
   background-color: #FFF;
   display: block;
   margin: auto;
   transition: 0.5s;
}

ul li:hover::after {
    width: 100%;
}

a {
    text-decoration: none;
}

nav {
    display: inline-flex;
    align-items: center;
}